#board-container {
    display: flex;
    height: 256px;
    padding-bottom: 5px;
    max-height: 256px;
    overflow: hidden;
    position: absolute;
    left: 40%;
    top: 20%;
}

.column {
    margin-bottom: -4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.tile {
    width: 30px;
    height: 30px;
    min-height: 30px;
    display: inline-block;
    border: 1px solid black;
}

.collapsing {
    animation: COLLAPSING 1s;
}

@keyframes COLLAPSING {
    from {
        min-height: 30px;
        height: 30px;
    }
    to {
        min-height: 0;
        height: 0px;
    }
}

.selected {
    border: 2px solid white;
}

.tile-color-grey {
    background-color: grey;
}

.tile-color-green {
    background-color: green;
}

.tile-color-red {
    background-color: red;
}

.tile-color-orange {
    background-color: orange;
}

.tile-color-yellow {
    background-color: yellow;
}

.removing {
    background-color: black !important;
}

.blank {
    border: none;
    background-color: white !important;
}
